name: paimon CI hml
on:
  push:
    branches: 
      - hml

jobs:
  tests:
    steps:
      uses: actions/checkout@v4.1.2
    - run: ls
    
  build:
    needs: tests
    steps:
      uses: actions/checkout@v4.1.2
      - run: ls