name: paimon CI hml
on:
  push:
    branches: 
      - hml

jobs:
  unit-tests:
    runs-on: self-hosted
    steps:
      - name: aaaaa
        uses: actions/checkout@v4.1.2
      - run: |
          touch .env
          echo "${{ secrets.PROD_PAIMON_NESTJS }}" > .env
          ls -la 
    
  build:
    needs: unit-tests
    runs-on: self-hosted
    steps:
      - name: bbbb
      - run: |
          ls -la